<h1> All Owners</h1>

<a href="/owners/new">Add a new owner</a>

<div>
  <% @owners.each do |owner| %>
  <p>Name: <%= owner.name%></p>
  <p>Address: <%= owner.address%></p>
  <p>Pet's name: <%= owner.animal.name if owner.animal%></p>
  
  <a href="/owners/<%= owner.id%>/edit">Update</a>

  <form action="/owners/<%= owner.id%>/delete" method="POST">
      <input type="submit" value="Delete Owner details">  
  </form>

<hr>
  

  <%end%>
</div>